@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
/* React Day Picker defaults */
.rdp {
  --rdp-cell-size: clamp(2.4rem, 9vw, 2.8rem);
  --rdp-accent-color: theme('colors.accent.500');
  --rdp-background-color: theme('colors.accent.600');
  margin: 0;
}

@media (max-width: 640px) {
  .rdp {
    --rdp-cell-size: clamp(1.7rem, 10vw, 2.3rem);
  }

  .rdp-dropdown {
    font-size: 0.8rem;
  }

  .rdp-caption_label {
    font-size: 0.9rem;
  }
}
